{% extends "app/layout.html" %}

{% block content %}
    <h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="TownZ">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>Welcome to TownZ!</h4>
                <p>

                De applicatie moet gebaseerd worden op een data gecentreerd, browser gebaseerd, multiplayer spel worden. Wij hebben gekozen voor een spel die zich afspeeld in de toekomst. Elke speler krijgt een klein dorp en kan zich uitbreiden tot een groot dorp. De speler heeft een naam. Het dorp heeft een naam, levenspunten, een totaal aantal Defence een Attack van de inwoners van het dorp. De speler kan aanvallen, verdedigen en op zoektocht gaan voor benodigdheden en andere overlevenden.
                De speler kan aangevallen worden door andere spelers en kan zich verdedigen met overlevenden in zijn of haar dorp. De speler kan gebouwen bouwen en upgraden door de benodigdheden te gebruiken die tijdens een zoektocht of in het dorp zijn verkregen. Gebouwen upgraden vermindert de kans om dood te gaan en krijg je meer punten van.

                </p>


                <hr />
                <p>
                    You have entered the world of TownZ. In front of you there is a sign. Read the sign and make a choice!
                    A. Do you want to approach CastleBlack or B. Do you want to approach the Field of Chaos.[A/B]?
                </p>
                <label>Enter</label>
                {{ form.townform }}
                <input type="submit" value="A"/>
                <label>or</label>
                <input type = "submit" value="B"/>
            </form>
        </section>
    </div>

</div>





{% endblock %}