{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ Barracks }} </h3> 
<h2> Amount of Money: </h2>
<h3> {{ Money }}</h3>

<h4> {{ error }} </h4>

<h2> Your level: </h2>
<h3> {{ level }}</h3>

<html>
<body>


    <div class="row">
    <div class="col-md-8">
      <div id="myOutput"></div>
        <section id="loginForm">
            <form action="" method="post">{% csrf_token %}

             <input type="submit" class="btn" value="Add a barack (Cost: 200)" name="mybtn">

            </form>
        </section>
    </div>
</div>

</body>
</html>

{% endblock %}
