<!DOCTYPE html>

{% extends "app/layout.html" %}

{% block content %}



<div class="row">
    <div class="col-md-8">
        <section id="ExploreForm">
                <form action="/result" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <h3>
                        Welkom bij de Explore pagina
                    </h3>
                    <h6>
                        Ga hier op zoektocht naar benodigdheden voor je dorp. De kans bestaat dat je soldaten verliest.
                        Je hebt {{playersoldiers}} soldaten. Je kan niet meer soldaten sturen dan dat je hebt.
                    </h6>
                   </div>
                    <label class="col-md-2 control-label">Hoeveel soldaten wil je sturen? </label>
                        {{form.exploreform}}
                    <input type="submit" name="Explorebutton" value="Go"/>
                </form>
        </section>
    </div>
</div>

{% endblock %}