{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<html>
<body>


    <div class="row">
    <div class="col-md-8">
    <button id="myClickButton" type="button">Click</button>
      <div id="myOutput"></div>
        <section id="loginForm">
            <form action="." method="post">{% csrf_token %}
            <ul>{{form.AmountSoldiers}}</ul>
                
                    <div class="form-group">
                    <label for="Amount_soldiers" class="col-md-2 control-label">Aantal</label>
                    <div class="col-md-10">
                        {{ form.AmountSoldiers }}
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

</body>
</html>

{% endblock %}
